<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="formulaCounterType">
      <h2 data-cy="formulaCounterTypeDetailsHeading">
        <span jhiTranslate="smolPlusTempApp.formulaCounterType.detail.title">Formula Counter Type</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ formulaCounterType.id }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.formulaCounterType.formula">Formula</span></dt>
        <dd>
          <div *ngIf="formulaCounterType.formula">
            <a [routerLink]="['/formula', formulaCounterType.formula.id, 'view']">{{ formulaCounterType.formula.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.formulaCounterType.counterType">Counter Type</span></dt>
        <dd>
          <div *ngIf="formulaCounterType.counterType">
            <a [routerLink]="['/counter-type', formulaCounterType.counterType.counterCode, 'view']">{{
              formulaCounterType.counterType.counterCode
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/formula-counter-type', formulaCounterType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
