<div>
  <h2 id="page-heading" data-cy="EventDeviceHeading">
    <span jhiTranslate="smolPlusTempApp.eventDevice.home.title">Event Devices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.eventDevice.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-event-device"
        [routerLink]="['/event-device/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.eventDevice.home.createLabel"> Crear nuevo Event Device </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="eventDevices?.length === 0">
    <span jhiTranslate="smolPlusTempApp.eventDevice.home.notFound">Ningún Event Devices encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="eventDevices && eventDevices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.eventDevice.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.eventDevice.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="theoreticalPercentage">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.eventDevice.theoreticalPercentage">Theoretical Percentage</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="moneyDenomination">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.eventDevice.moneyDenomination">Money Denomination</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="eventType.id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.eventDevice.eventType">Event Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventDevice of eventDevices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/event-device', eventDevice.id, 'view']">{{ eventDevice.id }}</a>
          </td>
          <td>{{ eventDevice.createdAt | formatMediumDatetime }}</td>
          <td>{{ eventDevice.theoreticalPercentage }}</td>
          <td>{{ eventDevice.moneyDenomination }}</td>
          <td>
            <div *ngIf="eventDevice.eventType">
              <a [routerLink]="['/event-type', eventDevice.eventType.id, 'view']">{{ eventDevice.eventType.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/event-device', eventDevice.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/event-device', eventDevice.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(eventDevice)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="eventDevices && eventDevices.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
