<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="isle">
      <h2 data-cy="isleDetailsHeading"><span jhiTranslate="smolPlusTempApp.isle.detail.title">Isle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smolPlusTempApp.isle.id">Id</span></dt>
        <dd>
          <span>{{ isle.id }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.isle.description">Description</span></dt>
        <dd>
          <span>{{ isle.description }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.isle.name">Name</span></dt>
        <dd>
          <span>{{ isle.name }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.isle.establishment">Establishment</span></dt>
        <dd>
          <div *ngIf="isle.establishment">
            <a [routerLink]="['/establishment', isle.establishment.id, 'view']">{{ isle.establishment.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/isle', isle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
