<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-interface-board-heading"
        data-cy="InterfaceBoardCreateUpdateHeading"
        jhiTranslate="smolPlusTempApp.interfaceBoard.home.createOrEditLabel"
      >
        Crear o editar Interface Board
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.isAssigned" for="field_isAssigned">Is Assigned</label>
          <input
            type="checkbox"
            class="form-check"
            name="isAssigned"
            id="field_isAssigned"
            data-cy="isAssigned"
            formControlName="isAssigned"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.ipAddress" for="field_ipAddress">Ip Address</label>
          <input type="text" class="form-control" name="ipAddress" id="field_ipAddress" data-cy="ipAddress" formControlName="ipAddress" />
          <div *ngIf="editForm.get('ipAddress')!.invalid && (editForm.get('ipAddress')!.dirty || editForm.get('ipAddress')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('ipAddress')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 25 }"
            >
              Este campo no puede superar más de 25 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.hash" for="field_hash">Hash</label>
          <input type="text" class="form-control" name="hash" id="field_hash" data-cy="hash" formControlName="hash" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.serial" for="field_serial">Serial</label>
          <input type="text" class="form-control" name="serial" id="field_serial" data-cy="serial" formControlName="serial" />
          <div *ngIf="editForm.get('serial')!.invalid && (editForm.get('serial')!.dirty || editForm.get('serial')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('serial')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Este campo no puede superar más de 50 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.version" for="field_version">Version</label>
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('version')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              Este campo no puede superar más de 10 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.interfaceBoard.port" for="field_port">Port</label>
          <input type="text" class="form-control" name="port" id="field_port" data-cy="port" formControlName="port" />
          <div *ngIf="editForm.get('port')!.invalid && (editForm.get('port')!.dirty || editForm.get('port')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('port')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              Este campo no puede superar más de 10 caracteres.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
