<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="manufacturer">
      <h2 data-cy="manufacturerDetailsHeading"><span jhiTranslate="smolPlusTempApp.manufacturer.detail.title">Manufacturer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smolPlusTempApp.manufacturer.id">Id</span></dt>
        <dd>
          <span>{{ manufacturer.id }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.manufacturer.code">Code</span></dt>
        <dd>
          <span>{{ manufacturer.code }}</span>
        </dd>
        <dt><span jhiTranslate="smolPlusTempApp.manufacturer.name">Name</span></dt>
        <dd>
          <span>{{ manufacturer.name }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/manufacturer', manufacturer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
