<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-command-model-heading"
        data-cy="CommandModelCreateUpdateHeading"
        jhiTranslate="smolPlusTempApp.commandModel.home.createOrEditLabel"
      >
        Crear o editar Command Model
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="smolPlusTempApp.commandModel.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.commandModel.codeSAS" for="field_codeSAS">Code SAS</label>
          <input type="text" class="form-control" name="codeSAS" id="field_codeSAS" data-cy="codeSAS" formControlName="codeSAS" />
          <div *ngIf="editForm.get('codeSAS')!.invalid && (editForm.get('codeSAS')!.dirty || editForm.get('codeSAS')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codeSAS')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 2 }"
            >
              Este campo no puede superar más de 2 caracteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.commandModel.command" for="field_command">Command</label>
          <select
            class="form-control"
            id="field_command"
            data-cy="command"
            name="command"
            formControlName="command"
            [compareWith]="compareCommand"
          >
            <option *ngIf="!editForm.get('command')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="commandOption" *ngFor="let commandOption of commandsSharedCollection">{{ commandOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['command'])!.invalid && (editForm.get(['command'])!.dirty || editForm.get(['command'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['command'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            Este campo es obligatorio.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.commandModel.model" for="field_model">Model</label>
          <select class="form-control" id="field_model" data-cy="model" name="model" formControlName="model" [compareWith]="compareModel">
            <option *ngIf="!editForm.get('model')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="modelOption" *ngFor="let modelOption of modelsSharedCollection">{{ modelOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['model'])!.invalid && (editForm.get(['model'])!.dirty || editForm.get(['model'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['model'])?.errors?.required" jhiTranslate="entity.validation.required">
            Este campo es obligatorio.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
