<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-event-type-model-heading"
        data-cy="EventTypeModelCreateUpdateHeading"
        jhiTranslate="smolPlusTempApp.eventTypeModel.home.createOrEditLabel"
      >
        Crear o editar Event Type Model
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="smolPlusTempApp.eventTypeModel.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.eventTypeModel.modelId" for="field_modelId">Model Id</label>
          <input type="number" class="form-control" name="modelId" id="field_modelId" data-cy="modelId" formControlName="modelId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="smolPlusTempApp.eventTypeModel.eventType" for="field_eventType">Event Type</label>
          <select
            class="form-control"
            id="field_eventType"
            data-cy="eventType"
            name="eventType"
            formControlName="eventType"
            [compareWith]="compareEventType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="eventTypeOption" *ngFor="let eventTypeOption of eventTypesSharedCollection">{{ eventTypeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
