<form *ngIf="deviceCategory" name="deleteForm" (ngSubmit)="confirmDelete(deviceCategory.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="deviceCategoryDeleteDialogHeading" jhiTranslate="entity.delete.title">
      Confirmar operación de borrado
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-deviceCategory-heading"
      jhiTranslate="smolPlusTempApp.deviceCategory.delete.question"
      [translateValues]="{ id: deviceCategory.id }"
    >
      ¿Seguro que quiere eliminar Device Category {{ deviceCategory.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-deviceCategory" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
