<div>
  <h2 id="page-heading" data-cy="EstablishmentHeading">
    <span jhiTranslate="smolPlusTempApp.establishment.home.title">Establishments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.establishment.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-establishment"
        [routerLink]="['/establishment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.establishment.home.createLabel"> Crear nuevo Establishment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="establishments?.length === 0">
    <span jhiTranslate="smolPlusTempApp.establishment.home.notFound">Ningún Establishments encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="establishments && establishments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liquidationTime">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.liquidationTime">Liquidation Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.type">Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="neighborhood">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.neighborhood">Neighborhood</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="coljuegosCode">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.coljuegosCode">Coljuegos Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startTime">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.startTime">Start Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="closeTime">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.closeTime">Close Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.longitude">Longitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.latitude">Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mercantileRegistration">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.mercantileRegistration">Mercantile Registration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="operator.id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.operator">Operator</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="municipality.id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.establishment.municipality">Municipality</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let establishment of establishments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/establishment', establishment.id, 'view']">{{ establishment.id }}</a>
          </td>
          <td>{{ establishment.liquidationTime | formatMediumDatetime }}</td>
          <td>{{ establishment.name }}</td>
          <td jhiTranslate="{{ 'smolPlusTempApp.EstablishmentType.' + establishment.type }}">{{ establishment.type }}</td>
          <td>{{ establishment.neighborhood }}</td>
          <td>{{ establishment.address }}</td>
          <td>{{ establishment.coljuegosCode }}</td>
          <td>{{ establishment.startTime | formatMediumDatetime }}</td>
          <td>{{ establishment.closeTime | formatMediumDatetime }}</td>
          <td>{{ establishment.longitude }}</td>
          <td>{{ establishment.latitude }}</td>
          <td>{{ establishment.mercantileRegistration }}</td>
          <td>
            <div *ngIf="establishment.operator">
              <a [routerLink]="['/operator', establishment.operator.id, 'view']">{{ establishment.operator.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="establishment.municipality">
              <a [routerLink]="['/municipality', establishment.municipality.id, 'view']">{{ establishment.municipality.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/establishment', establishment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/establishment', establishment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(establishment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="establishments && establishments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
