<div>
  <h2 id="page-heading" data-cy="CurrencyTypeHeading">
    <span jhiTranslate="smolPlusTempApp.currencyType.home.title">Currency Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.currencyType.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-currency-type"
        [routerLink]="['/currency-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="smolPlusTempApp.currencyType.home.createLabel"> Crear nuevo Currency Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="currencyTypes?.length === 0">
    <span jhiTranslate="smolPlusTempApp.currencyType.home.notFound">Ningún Currency Types encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="currencyTypes && currencyTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="code">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.code">Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="symbol">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.symbol">Symbol</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isPriority">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.isPriority">Is Priority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="location">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.location">Location</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="exchangeRate">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.exchangeRate">Exchange Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="decimalPlaces">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.decimalPlaces">Decimal Places</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="decimalSeparator">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.decimalSeparator">Decimal Separator</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="thousandSeparator">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.thousandSeparator">Thousand Separator</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="establishment.id">
            <div class="d-flex">
              <span jhiTranslate="smolPlusTempApp.currencyType.establishment">Establishment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let currencyType of currencyTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/currency-type', currencyType.id, 'view']">{{ currencyType.id }}</a>
          </td>
          <td>{{ currencyType.name }}</td>
          <td>{{ currencyType.code }}</td>
          <td>{{ currencyType.symbol }}</td>
          <td>{{ currencyType.isPriority }}</td>
          <td>{{ currencyType.location }}</td>
          <td>{{ currencyType.exchangeRate }}</td>
          <td>{{ currencyType.decimalPlaces }}</td>
          <td>{{ currencyType.decimalSeparator }}</td>
          <td>{{ currencyType.thousandSeparator }}</td>
          <td>{{ currencyType.description }}</td>
          <td>
            <div *ngIf="currencyType.establishment">
              <a [routerLink]="['/establishment', currencyType.establishment.id, 'view']">{{ currencyType.establishment.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/currency-type', currencyType.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/currency-type', currencyType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(currencyType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="currencyTypes && currencyTypes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
